<!DOCTYPE html>
<html lang="pt_br"> <!-- linguagem da página -->
<head>
    <meta charset="UTF-8"> <!-- metadários, charset="UTF-8"->aceita caracteris especiais com o ç -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- configurar o site para que ele caiba em diversos tamanhos-->
    
    {% block title %}
        <title>Ecoleta</title>
    {% endblock title %}

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/styles/main.css">

    {% block styles %}{% endblock styles %}

    <link rel="stylesheet" href="/styles/responsive.css">

</head>
<body>

    <div id="{{ pageId }}">
        {% block content %}
        {% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}
    
</body>
</html> <!-- HTML puro -->